body {
  background-color: bisque;
  margin: 0px;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.header {
  display: flex;
}
.weather-container {
  display: flex;
  height: 100%;
}
.cities-container {
  display: flex;
  justify-content: center;
  flex: 1;
}
.weather-container ul {
  padding: 0px;
}
.weather-container li {
  list-style: none;
  border: 1px solid red;
}
.city-expanded-container {
  border: 1px solid black;
  flex: 3;
}
