@font-face {
  font-family: "Futura";
  src: url("./imgs/futura_medium_bt-webfont.woff");
}
div {
  font-size: clamp(1rem, 5vw, 1.2rem);
}
body {
  font-family: "Futura";
  background-color: #3498db;
  color: #2c3e50;
  margin: 0px;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}
.header {
  display: flex;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.weather-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.cities-container {
  display: flex;
  justify-content: center;
  flex: 1;
}
.weather-container ul {
  padding: 0px;
  display: flex;
  gap: 2%;
  flex-direction: column;
}
.weather-container li {
  list-style: none;
  border: 1px solid red;
  width: 200px;
  height: 50px;
}
.city-expanded-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 200px;
  width: fit-content;
  min-height: 200px;
  height: fit-content;
  /* height: 200px; */
  /* width: 300px; */
  padding: 30px;
  border-radius: 40px;
  background-color: #ecf0f1;
}
.city-forecast-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.city-search-bar {
  height: fit-content;
}
.city-condition-container {
  display: flex;
  justify-content: space-between;
}
.city-hourly-forecast-container {
  display: flex;
  /* border: 1px solid black; */
  gap: 30px;
  overflow: scroll;
  scroll-behavior: smooth;
}
.forecast-hour {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
}
.hour-condition {
  text-align: center;
  text-overflow: ellipsis;
}
